.main {
    flex-direction: row;
}

.classes {
    flex-wrap: wrap;
    display: flex;
}

.collection-container-left {
    padding-top: 50px;
    position: absolute;
    left: 2%;
}

.collection-container-right {
    padding-top: 50px;
    position: absolute;
    left: 55%;
}

.packs-containers {
    display: flex;
    padding-top: 100px;
}

p {
    width: fit-content;
}
.cardName {
    width: 350px;
    border: solid black;
}

.header-text{
    padding: 15px;
}